h1{
    margin-bottom: 50px;
}

#type1{
    font-family: 'Teko','sans-serif';
    font-weight: 300;                  /*      based on link we copied in head,they will mention weight and name of font */
}

#type2{
    font-family: 'Jost','san-serif';
}